body {
    font-family: "Helvetica";
    color: #000000;
}

/*Navbar*/
.navbar {
    top: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    position: fixed;
    margin-left: -8px;
    font-size: 0;
    box-shadow: 0px 1px 20px 5px rgba(100, 100, 100, 0.5);
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    padding: 23px 20px;
    display: inline-block;
    font-size: medium;
    transition: padding 0.5s ease-in-out;
}

.navbar-logo {
    float: left;
}

#navbar-logoAnimation {
    position: fixed;
    top: 5px;
    left: 20px;
    max-height: 45px;
    padding-top: 5px;
    margin-left: -10px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

#active {
    color: #b7b7b7;
}

#navbar-login {
    float: right;
    margin: 15px 60px 15px 0px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#navbar-signup {
    float: right;
    margin: 15px 10px 15px 0px;
    border: 1px solid black;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

/*Dropdown*/
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-content:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #c0c0c0;
    border-radius: 5px;
}

/*mainGrid*/
.mainGrid-container {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
}

.mainGrid-middle {
    grid-column: 2;
    grid-row: 1;
    margin-top: 60px
}

/*footer*/

.footerGrid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 20px;
    margin-top: 150px;
}

.footerGrid-logo {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.footerGrid-itemLeft {
    margin-top: 35px;
    grid-column: 1;
    grid-row: 2;
}

.footerGrid-itemRight {
    margin-top: 35px;
    grid-column: 2;
    grid-row: 2;
}

.footerGrid-copyrightDescription {
    grid-column: 1;
    grid-row: 3;
    font-size: 13px;
    vertical-align: middle;
}

.footerGrid-links {
    grid-column: 2;
    grid-row: 3;
    margin-right: 20px;
}

.footer-logo {
    height: 30px;
    float: left;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list-title {
    font-size: 14px;
}

.footer-list-content {
    margin-bottom: 5px;
}

.footer-list li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer-list-links {
    list-style-type: none;
    padding: 0;
    vertical-align: middle;
}

.footer-list-links li {
    float: right;
    display: inline-block;
}

.footer-list-link-image {
    max-width: 20px;
    max-height: 20px;
    margin: -8px 10px 0px 10px;
}


/*else*/
body::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
}

/*media*/

@media only screen and (max-width: 1205px) {
    .mainGrid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
}
